body{
  background-image:url('https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-1287145.jpg&fm=jpg&_gl=1*8r7liv*_ga*MzQzNTA2ODMzLjE2NzIwMzAwOTg.*_ga_8JE65Q40S6*MTY3MjI0NDY2MS4zLjEuMTY3MjI0NTEwNi4wLjAuMA..');
   background-size: conver;
   background-repeat: no-repeat;
   height:100vh;
}
.row{
  background-image: url('https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-1287145.jpg&fm=jpg&_gl=1*8r7liv*_ga*MzQzNTA2ODMzLjE2NzIwMzAwOTg.*_ga_8JE65Q40S6*MTY3MjI0NDY2MS4zLjEuMTY3MjI0NTEwNi4wLjAuMA..');
  background-repeat: no-repeat;

  text-align: center;
  border-radius: 30%;

  border
}
button {
  align-items: center;
  background-clip: padding-box;
  background-color: white;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  background-color: orange;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: blue;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
h1{
  color: #579BB1;
}
i{
  padding: 50px;
}
img {
  border-color: white;
  border-radius:100px;

  padding: 15px;
  width: 110px;
}
